<%- include ('./partials/header'); %>
<body>
    <%- include ('./partials/navbarhome'); %>
    <div class="container">
        <% documents.forEach(document => { %>
            <div class="card my-4">
                <div class="card-header">
                    <h3><%= document.title %></h3>
                </div>
                <div class="card-body">
                    <a href="/<%= document.slug %>" class="btn btn-dark">Ler Artigo</a>
                </div>
            </div>
        <% }) %>
    </div>
</body>
<%- include ('./partials/footer'); %>